{% extends "base.html" %}
{% load mathoperations %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html">Home</a> 
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">Top 100 Users by Bandwidth - Report</a></li>
</ul>		
{% endblock %}

{% block widget_row %}
    <div class="row-fluid sortable">		
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon user"></i><span class="break"></span>User Bandwidth Utilization (Top 100 Users)</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <input type="text" class="input-small datepicker hasDatepicker" id="date01" value="02/16/13">
                <table class="table table-striped table-bordered  datatable">
                  <thead>
                      <tr>
                          <th>Username</th>
                          <th class="align-center">Date</th>
                          <th class="align-center">Bandwidth Used (MB)</th>
                          <th class="align-center">Denied Request Size (MB)</th>
                          <th class="align-center">Denied Requests</th>
                          <th class="align-center">First Request Time</th>
                          <th class="align-center">Last Request Time</th>
                          <th class="align-center">Status</th>
                      </tr>
                  </thead>   
                  <tbody>
                    {% for log in userlogs %}
                    <tr>
                        <td>{{ log.username }}</td>
                        <td class="align-center">{{ log.date|date:"D d M Y" }}</td>
                        <td class="align-center">{{ log.data_usage|div:1048576|floatformat:3 }}</td>
                        <td class="align-center">{{ log.denied_data_size|div:1048576|floatformat:3 }}</td>
                        <td class="align-center">{{ log.deny_count }}</td>
                        <td class="align-center">{{ log.first_access|date:"H:i:s d-m-Y" }}</td>
                        <td class="align-center">{{ log.last_access|date:"H:i:s d-m-Y" }}</td>
                        <td class="align-center">
                            <span class="label label-success">Active</span>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>            
            </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}	
